.wrap-login100-signup {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 200px 100px 200px;
}
@media screen and (max-width: 995px) {
    .wrap-login100-signup {
        padding: 100px 100px 100px 100px !important;
    }
}
@media screen and (max-width: 560px) {
    .wrap-login100-signup {
        padding: 100px 20px 100px 20px !important;
    }
}
.alert-validate::after {
  
    margin-right: 25px !important;
}